pipelines/parentpipeline.json
{
    "name": "parentpipeline",
    "properties": {
        "activities": [
            {
                "name": "OnPremPipeline",
                "type": "ExecutePipeline",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Onpremdataingestion",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "file": {
                            "value": "@pipeline().parameters.file",
                            "type": "Expression"
                        },
                        "p_mapping_flight": {
                            "value": "@pipeline().parameters.p_mapping_flight",
                            "type": "Expression"
                        },
                        "p_mapping_passenger": {
                            "value": "@pipeline().parameters.p_mapping_passenger",
                            "type": "Expression"
                        },
                        "p_mapping_airline": {
                            "value": "@pipeline().parameters.p_mapping_airline",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "ExecuteAPIingestion",
                "type": "ExecutePipeline",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded",
                "dependsOn": [
                    {
                        "activity": "OnPremPipeline",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "APIingestion",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "ExecuteSQLtodatalakeincremental",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "ExecuteAPIingestion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "SQLtodatalakeincrementalingestion",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Pipelinesuccessalert",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "ExecuteSQLtodatalakeincremental",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "POST",
                    "url": "https://prod-04.eastus2.logic.azure.com:443/workflows/0ba2319f76ec4af8b1a3f2c0f028606d/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=F9mlYPfwAh08LhSzbJqPYLVYeLt-MJoGL1-8iJnKaxs",
                    "body": {
                        "value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"Runid\": \"@{pipeline().RunId}\",\n    \"Status\": \"@{activity('ExecuteSQLtodatalakeincremental').Status}\",\n    \"error\": \"@{if(equals(activity('ExecuteSQLtodatalakeincremental').Status,'Failed'),string(activity('ExecuteSQLtodatalakeincremental').error),'No Error')}\"\n}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "file": {
                "type": "array",
                "defaultValue": [
                    {
                        "filename": "DimAirline.csv"
                    },
                    {
                        "filename": "DimFlight.csv"
                    },
                    {
                        "filename": "DimPassenger.csv"
                    }
                ]
            },
            "p_mapping_flight": {
                "type": "object",
                "defaultValue": {
                    "type": "TabularTranslator",
                    "mappings": [
                        {
                            "source": {
                                "name": "flight_id",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "flight_id",
                                "type": "String",
                                "physicalType": "String"
                            }
                        },
                        {
                            "source": {
                                "name": "flight_number",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "flight_number",
                                "type": "String",
                                "physicalType": "String"
                            }
                        },
                        {
                            "source": {
                                "name": "departure_time",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "departure_time",
                                "type": "String",
                                "physicalType": "String"
                            }
                        },
                        {
                            "source": {
                                "name": "arrival_time",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "arrival_time",
                                "type": "String",
                                "physicalType": "String"
                            }
                        }
                    ],
                    "typeConversion": true,
                    "typeConversionSettings": {
                        "allowDataTruncation": true,
                        "treatBooleanAsNumber": false
                    }
                }
            },
            "p_mapping_passenger": {
                "type": "object",
                "defaultValue": {
                    "type": "TabularTranslator",
                    "mappings": [
                        {
                            "source": {
                                "name": "passenger_id",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "passenger_id",
                                "type": "String",
                                "physicalType": "String"
                            }
                        },
                        {
                            "source": {
                                "name": "full_name",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "full_name",
                                "type": "String",
                                "physicalType": "String"
                            }
                        },
                        {
                            "source": {
                                "name": "gender",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "gender",
                                "type": "String",
                                "physicalType": "String"
                            }
                        },
                        {
                            "source": {
                                "name": "age",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "age",
                                "type": "String",
                                "physicalType": "String"
                            }
                        },
                        {
                            "source": {
                                "name": "country",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "country",
                                "type": "String",
                                "physicalType": "String"
                            }
                        }
                    ],
                    "typeConversion": true,
                    "typeConversionSettings": {
                        "allowDataTruncation": true,
                        "treatBooleanAsNumber": false
                    }
                }
            },
            "p_mapping_airline": {
                "type": "object",
                "defaultValue": {
                    "type": "TabularTranslator",
                    "mappings": [
                        {
                            "source": {
                                "name": "airline_id",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "airline_id",
                                "type": "String",
                                "physicalType": "String"
                            }
                        },
                        {
                            "source": {
                                "name": "airline_name",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "airline_name",
                                "type": "String",
                                "physicalType": "String"
                            }
                        },
                        {
                            "source": {
                                "name": "country",
                                "type": "String",
                                "physicalType": "String"
                            },
                            "sink": {
                                "name": "country",
                                "type": "String",
                                "physicalType": "String"
                            }
                        }
                    ],
                    "typeConversion": true,
                    "typeConversionSettings": {
                        "allowDataTruncation": true,
                        "treatBooleanAsNumber": false
                    }
                }
            }
        },
        "annotations": [],
        "lastPublishTime": "2026-02-03T18:12:53Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
